@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800&family=Source+Code+Pro&family=Vast+Shadow&display=swap');
@import '/src/styles/variables';

html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}