$dark-blue: #0A2463;
$light-blue: #3E92CC;
$ghost-white: #FFFAFF;
$black-chocolate: #1E1B18;
$cerise: #D8315B;
$light-green: #7AE582;
$blue-green: #1DD3B0;
$slate-green: #0E402D;
$orange-soda: #F55D3E;